In [4]:
df = pd.read_csv('songdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [5]:
import numpy as np
import pandas as pd

In [6]:
df.shape

(57650, 4)

In [7]:
df.sample(n=5000).drop('link',axis=1)

,artist,song,text
56485,Widespread Panic,You Got Yours,I've got my cat in the yard \nAnd I've got my...
50157,Rascal Flatts,I Have Never Been To Memphis,I come from California \nWhere you say no one...
642,America,Chasing The Rainbow,Sat here thinking about my heart \nAll of the...
37640,Jennifer Lopez,Hiciste,Listen too me \nBaby wont you go \nBut still...
39131,Justin Bieber,Can't Live Without You,[Verse:] \nI just sit here waiting for you to...
...,...,...,...
14965,One Direction,Little Things,Your hand fits in mine like it's made just for...
35112,Hank Snow,Little Stranger (In A Manger),Little stranger in a manger little stranger sw...
12357,Mariah Carey,For The Record,For the record \nYou oughta know \nYou wasn'...
42019,Loretta Lynn,Indian Lake,Indian Lake is a scene you should make with yo...
46455,Ocean Colour Scene,I Wanna Stay Alive With You,I'm not one to judge that much \nAnd anyway I...

In [8]:
# the indexing is not started from 0 so we will write this as

In [9]:
df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

,artist,song,text
0,Lou Reed,Heroin,I don't know just where I'm going \nBut I'm g...
1,John Prine,Humidity Built The Snowman,Does he still think about her \nWhy there was...
2,Pet Shop Boys,Send Me An Angel,Do you believe in heaven above? \nDo you beli...
3,Pogues,Fairytale Of New York,It was Christmas Eve babe \nIn the drunk tank...
4,David Allan Coe,If That Ain't Country,The old man was covered with tattoos and scars...
...,...,...,...
4995,U2,A Room At The Heartbreak Hotel,From where I stand \nI can see through you \...
4996,Tori Amos,Angie,"Angie, Angie \nWhen will those clouds all dis..."
4997,Chris Brown,Fools With You,"White Flag Hangs Up, I Aint Got No Room For Th..."
4998,INXS,All Around,I see the rising sun \nI feel the warming one...
4999,Yngwie Malmsteen,Never Die,Forever and ever \nmy spirit will soar \njou...

In [10]:
df = df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

In [11]:
# hum text ke column ko clean karke unke ek order mein vecors bana rahe honge

In [12]:
# We are going to perform cleaning
df['artist']

0        Joni Mitchell
1           Vince Gill
2           Jason Mraz
3            Van Halen
4         Joy Division
             ...
4995       Wiz Khalifa
4996    Jackson Browne
4997       Cat Stevens
4998     Dan Fogelberg
4999       Tom T. Hall
Name: artist, Length: 5000, dtype: object

In [13]:
df['song']

0                               Mister Blue
1                        What's A Man To Do
2                Dream Life Of Rand Mcnally
3       Where Have All The Good Times Gone!
4                            Leaders Of Men
                       ...
4995                       Star Of The Show
4996                          The Pretender
4997                          Sweet Jamaica
4998                           Heart Hotels
4999                         Fox On The Run
Name: song, Length: 5000, dtype: object

In [14]:
df['song'][0]  # 1st song ko dikhaega ye sirf

'Mister Blue'

In [15]:
df['text']

0       What's the story, Mr. Blue  \nDid she pull the...
1       Before the tears I've cried  \nHave even dried...
2       Who is he, Mr. Rand McNally?  \nI had I dream ...
3       All my life I've never stopped to worry 'bout ...
4       Born from some mother's womb,  \nJust like any...
                              ...
4995    Yeah  \nUgh  \nUgh  \nUgh  \n  \nSee I've been...
4996    I'm going to rent myself a house  \nIn the sha...
4997    Other people come and go  \nThey try to make i...
4998    Well there's too many windows in this old hote...
4999    [Chorus]  \nShe walks through the corn leadin'...
Name: text, Length: 5000, dtype: object

In [16]:
df['text'][0]

"What's the story, Mr. Blue  \nDid she pull the rug from under you  \nDid she chop your dreams up two by two  \nAnd kick them out the door  \nI could sympathize you, son  \nBut pity words stick to my tongue  \nAnd sorry words have all been sung  \nSo many times before  \n  \nOh, Mr. Blue, you blew your chances long ago  \nOh, Mr. Blue, you're through  \nQuit acting like you didn't know  \n  \nHang on one more day or two  \nThen I promise I'll be laying you  \nOdds that she's found someone new  \nWhile you stand around and rust  \nShe don't need no part-time man  \nWith no part-time answer, understand  \nShe don't want an hour's fall of sand  \nFor a lifetime full of dust  \n  \nOh, Mr. Blue, you blew your chances long ago  \nOh, Mr. Blue, you're through  \nQuit acting like you didn't know  \n  \nMr. Blue, you missed the shot  \nDidn't turn out quite the way you thought  \nIt would, I'll bet, cause you got caught  \nOut playing Donald Juan  \nShe's got polish, she's got class  \nAnd someday when on the street you pass her house  \nYou'll wonder why the grass  \nLooks greener on her lawn  \n  \nOh, Mr. Blue, you blew your chances long ago  \nOh, Mr. Blue, you're through  \nQuit acting like it isn't so\n\n"

In [17]:
# now we are going to start cleaning of texts
df['text'].str.lower().replace(r'[a-zA-Z0-9]','')   # yahan hum lower later mein convert kar de rahe agar text mein any later is present in capital usko
#ye tarika hota hai replace karane kaaa jahan except a-z, A-Z and 0-9 , we are removing each and every data from text
# humne comma dekar '' isliye chora hai kyunki saare special characters kaa replacemeny ho raha with ''

0       what's the story, mr. blue  \ndid she pull the...
1       before the tears i've cried  \nhave even dried...
2       who is he, mr. rand mcnally?  \ni had i dream ...
3       all my life i've never stopped to worry 'bout ...
4       born from some mother's womb,  \njust like any...
                              ...
4995    yeah  \nugh  \nugh  \nugh  \n  \nsee i've been...
4996    i'm going to rent myself a house  \nin the sha...
4997    other people come and go  \nthey try to make i...
4998    well there's too many windows in this old hote...
4999    [chorus]  \nshe walks through the corn leadin'...
Name: text, Length: 5000, dtype: object

In [18]:
# above replcement ko ek aur tarike se likha jaa sakta hai
df['text'].str.lower().replace(r'[^\w\s]','')

0       what's the story, mr. blue  \ndid she pull the...
1       before the tears i've cried  \nhave even dried...
2       who is he, mr. rand mcnally?  \ni had i dream ...
3       all my life i've never stopped to worry 'bout ...
4       born from some mother's womb,  \njust like any...
                              ...
4995    yeah  \nugh  \nugh  \nugh  \n  \nsee i've been...
4996    i'm going to rent myself a house  \nin the sha...
4997    other people come and go  \nthey try to make i...
4998    well there's too many windows in this old hote...
4999    [chorus]  \nshe walks through the corn leadin'...
Name: text, Length: 5000, dtype: object

In [19]:
# now hum \n par bhi kaam karne jaa rahe hain
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n', ' ',regex=True)
#REPLACE KE ANDER JO R HAI THAT IS SHOWING READ PART AND AFTER READING WE ARE REPLACING \N WITH ' '
#SEARCH FOR REGEX
# note :- never forget to update, and update karne kaa tarika hai as given, df[''] = df[''].(any operation which we have perform)

In [20]:
df['text'][0]

"what's the story, mr. blue   did she pull the rug from under you   did she chop your dreams up two by two   and kick them out the door   i could sympathize you, son   but pity words stick to my tongue   and sorry words have all been sung   so many times before      oh, mr. blue, you blew your chances long ago   oh, mr. blue, you're through   quit acting like you didn't know      hang on one more day or two   then i promise i'll be laying you   odds that she's found someone new   while you stand around and rust   she don't need no part-time man   with no part-time answer, understand   she don't want an hour's fall of sand   for a lifetime full of dust      oh, mr. blue, you blew your chances long ago   oh, mr. blue, you're through   quit acting like you didn't know      mr. blue, you missed the shot   didn't turn out quite the way you thought   it would, i'll bet, cause you got caught   out playing donald juan   she's got polish, she's got class   and someday when on the street you pass her house   you'll wonder why the grass   looks greener on her lawn      oh, mr. blue, you blew your chances long ago   oh, mr. blue, you're through   quit acting like it isn't so  "

In [21]:
# now we will do tokanization 
# ye kya hota hai?
# eg:- we have a statement:- "my name is mohit tripathi"
# after doing this the statement will look like:- "my, name, is, mohit, tripathi"

#  &

# we will perform "steming" , ismein kya hota hai?
# for example we have various words:- (love, loving, loved, lovely)===> so we will show represent all these words with only singe word and that is "love"

In [ ]:
%pip uninstall nltk
%pip install nltk

In [ ]:
import nltk  
# The Natural Language Toolkit (NLTK) is a Python programming environment for creating applications for statistical natural language processing (NLP). It includes language processing libraries for tokenization, parsing, classification, stemming, labeling, and semantic reasoning.
from nltk.stem.porter import PorterStemmer   # ye kisi bhi word ko uske apne bas form mein laa deta hai
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

ps = PorterStemmer()   # created an object, ye base form mein laayega kisi bhi fomat mein maujud word ko
# example:- we have various words:- (love, loving, loved, lovely)===> so we will show represent all these words with only singe word and that is "love"

# now tokanization ko perform karenge

  #stemming = []
def tokenization(txt):       # we created an function jahan pe koyi saa bhi text aayega to uspe ye work karega
    tokens = nltk.word_tokenize(txt)
    stemming = [ps.stem(w) for w in tokens]
    #for w in tokens:      # w for words 
       # stemming.append(ps.stem(w))     #empty list stemming mein ab sab append ho jaega
        
    return " ".join(stemming)   # list ko string mein covert karke returning

In [ ]:
nltk.download('punkt')

In [ ]:
# function testing 
tokenization('This is model for Music Recommendations loving loved')

In [ ]:
# Ab function ko call maaarenge for our column
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [ ]:
df['text']

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Initialize the TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Fit and transform the text data
matrix = tfidf.fit_transform(df['text'])

# The matrix now contains the TF-IDF representation of the text data

In [ ]:
matrix

In [ ]:
matrix.shape

In [ ]:
similarity = cosine_similarity(matrix)   # i want to closest distance/sabse kam difference waale words ko store kara raha hun

In [ ]:
similarity

In [ ]:
similarity[0]

In [ ]:
df['song'][0]

In [ ]:
df[df['song'] == 'Let The Peace Of God Reign']

In [ ]:
def recommendation(song):   #we made a function jismein song aa raha hoga
    idx = df[df['song'] == song].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=False, key = lambda x:x[1])  # isse we will get the whole list/vector and last mein hum sorting kar denge
    songs = [] # we created an empty list jismein sab ultimately aa raha hoga
    for i in distances[1:21]:
        songs.append(df.iloc[i[0]].song)
        
    return songs   # top 20 similar songs ko ye return kar de raha hoga
    # it means ki jo pahla gaana tha uska baaki ke gaanon ke sath output/given similarity score hai
#gaane kaa khud ke sath kuch output naa aaye uske liye we included last mein  key
# last mein humne ek variable mein store kar diya hai overall function ko and that is distances
# now we are going to operate a loop

In [ ]:
recommendation('Enemy')  # now recommendation started for 20

In [ ]:
import pickle

# Make sure df and similarity are defined
# For example:
# df = ...
# similarity = ...

# Serialize the DataFrame and similarity matrix using pickle
with open('df.pkl', 'wb') as df_file:
    pickle.dump(df, df_file)

with open('similarity.pkl', 'wb') as similarity_file:
    pickle.dump(similarity, similarity_file)